@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";


@theme{
  --font-primary:"Dancing Script", cursive;
  --font-secondary: "Exo 2", sans-serif;
  --color-primary: #3F5EFB;
}